<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Account</display-name>
    <servlet-name>Account</servlet-name>
    <servlet-class>Account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/Account</url-pattern>
  </servlet-mapping>
  <display-name>TicketBooking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookTicketServlet</display-name>
    <servlet-name>BookTicketServlet</servlet-name>
    <servlet-class>BookTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTicketServlet</servlet-name>
    <url-pattern>/BookTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTicketServlet</display-name>
    <servlet-name>ViewTicketServlet</servlet-name>
    <servlet-class>ViewTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTicketServlet</servlet-name>
    <url-pattern>/ViewTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelTicketServlet</display-name>
    <servlet-name>CancelTicketServlet</servlet-name>
    <servlet-class>CancelTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelTicketServlet</servlet-name>
    <url-pattern>/CancelTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoServlet</display-name>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/UserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrainServlet</display-name>
    <servlet-name>TrainServlet</servlet-name>
    <servlet-class>TrainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrainServlet</servlet-name>
    <url-pattern>/TrainServlet</url-pattern>
  </servlet-mapping>
</web-app>